<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>ISU Carpool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Please fill out our sign up form!</h1>
     <form method="get" action="/login">
        Username: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text" name="userid"/> <br/><br/>
        Password: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text" name="password"/> <br/><br/>
        First Name: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text" name="fName"/> <br/><br/>
        Last Name: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text" name="lName"/> <br/><br/>
        Gender: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text" name="gender"/> <br/><br/>
        Phone Number: <input type="text" name="phoneNumber"/> <br/><br/>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="submit" formaction="/emailConfirmation" value="Sign Up"/>        
     </form>
</body>
</html>